<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员界面</title>
        <style>
      .left {
        float: left;
        width: 30%;
        height: 300px;
      }
      .right {
        margin-left: 20%;
        height: 300px;
      }
    </style>
</head>
<body>
    <h1>这是管理员界面</h1>
    <hr />
    <div class="left">
        {% if not request.method == 'POST' %}
            您还未选择房间，请选择房间。
        {% else %}
            您选择了{{ room_id }}号房间，该房间无 人。
        {% endif %}<br>
        <h1>这里是该房间的信号</h1>
    </div>
    <div class="right">
        <form action="" method="post">
            {% csrf_token %}
            房间号:<input type="text" name="room_id">
            <input type="submit" value="提交">
        </form>
    </div>
</body>
</html>