doctype html
html
  head
    title 客房人体感应系统(TeckMicro)
    // for-mobile-apps
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    script(type='application/x-javascript').
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
      function hideURLbar(){ window.scrollTo(0,1); }
    link(href='https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet', type='text/css', media='all')
    link(rel='stylesheet', href='stylesheets/flexslider.css', type='text/css', media='screen', property='')
    link(rel='stylesheet', type='text/css', href='stylesheets/zoomslider.css')
    link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
    link(href='stylesheets/font-awesome.css', rel='stylesheet')
    script(type='text/javascript', src='javascripts/modernizr-2.6.2.min.js')
    script(src='https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js')
    script(src='https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='https://cdn.bootcss.com/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js')
  body
    // /main-header
    // /banner-section
    .w3layouts-top-strip#home
      .top-srip-agileinfo#info
      nav.pull-left.navbar.navbar-inverse.navbar-default.navbar-fixed-top#navbarContainer
        .container#container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            .w3ls-social-icons.text-left
              h2
                  span T
                  | eck
                  span M
                  | icro
                  p.s-log System
          #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
              li
                a.glyphicon.glyphicon-envelope(aria-hidden='true')(href='mailto:bowl_www@163.com') 联系我们
    #demo-1(data-zs-src='["images/nightout2.png", "images/dinner.png","images/room.png"]', data-zs-overlay='dots')
      // signin
      form#defaultForm.signin.col-xs-8.col-xs-offset-2.col-sm-4.col-sm-offset-7.col-md-3.col-md-offset-8.col-lg-3.col-lg-offset-8
        .form-group
          center
            label
              h3 账号密码登录
        #groupNumber.form-group
          label.sr-only
          input#roomNumber.form-control(name='roomNumber', type='text', placeholder='房号', oninput='hideNNotice()')
          span#numberNotice.helpBlock
        #groupPassword.form-group
          label.sr-only
          input#thePassword.form-control(name='thePassword', type='password', placeholder='初始密码为身份证后6位', oninput='hidePNotice()')
          span#passwordNotice.helpBlock
        center
          button.btn.btn-primary.btn-lg.btn-block(type='submit') 登录
    // /banner-section
    // Footer
    .w3l-footer#footer
      .container
        .footer-info-agile

          .col-md-3.footer-info-grid.address
            h4 Address
            address
              ul
                li Jiangsu Nanjing
                li Hohai University
                li Telephone : +0746 2867300
                li
                  | Email :
                  a.mail(href='mailto:bowl_www@163.com') bowl_www@163.com
          .col-md-4.footer-info-grid
            .connect-social
              h4 Connect with us
              section.social
                ul
                  li
                    a.icon.fb(href='#')
                      i.fa.fa-facebook
                  li
                    a.icon.tw(href='#')
                      i.fa.fa-twitter
                  li
                    a.icon.pin(href='#')
                      i.fa.fa-pinterest
                  li
                    a.icon.db(href='#')
                      i.fa.fa-dribbble
                  li
                    a.icon.gp(href='#')
                      i.fa.fa-google-plus
          .clearfix
        .connect-agileits.newsletter
          h4 Newsletter
          p
            | Subscribe to our newsletter and we will inform you about newest projects and promotions.
          form.newsletter(action='#', method='post')
            input.email(type='email', placeholder='Your email address...', required='')
            input.submit(type='submit', value='Subscribe')
    a#toTop.scroll(href='#home', style='display: block;')
      span#toTopHover(style='opacity: 1;')
    #none
    script(src='/javascripts/firstPage.js')
    // Dropdown-Menu-JavaScript
    script.
      $(document).ready(function(){
      $(".dropdown").hover(
      function() {
      $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
      $(this).toggleClass('open');
      },
      function() {
      $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
      $(this).toggleClass('open');
      }
      );
      });
    //fill the blankscript
    script(type='text/javascript', src='javascripts/footer.js')
    // //Dropdown-Menu-JavaScript
    script(type='text/javascript', src='javascripts/jquery.zoomslider.min.js')
    // search-jQuery
    script(src='javascripts/main.js')
    // /script
    // flexSlider
    script(defer='', src='javascripts/jquery.flexslider.js')
    script(type='text/javascript').
      $(window).load(function(){
      $('.flexslider').flexslider({
      animation: "slide",
      start: function(slider){
      $('body').removeClass('loading');
      }
      });
      });
    // //script for portfolio
    // Calendar
    link(rel='stylesheet', href='stylesheets/jquery-ui.css')
    script(src='javascripts/jquery-ui.js')
    script.
      $(function() {
      $( "#datepicker,#datepicker1,#datepicker2,#datepicker3" ).datepicker();
      });
    // //Calendar
    script(type='text/javascript', src='javascripts/move-top.js')
    script(type='text/javascript', src='javascripts/easing.js')
    script(type='text/javascript').
      jQuery(document).ready(function($) {
      $(".scroll").click(function(event){
      event.preventDefault();
      $('html,body').animate({scrollTop:$(this.hash).offset().top},900);
      });
      });
    script(type='text/javascript').
      $(document).ready(function() {
      /*
      var defaults = {
      containerID: 'toTop', // fading element id
      containerHoverID: 'toTopHover', // fading element hover id
      scrollSpeed: 1200,
      easingType: 'linear'
      };
      */
      $().UItoTop({ easingType: 'easeOutQuart' });
      });
    // end-smooth-scrolling
