doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title 客房人体感应系统(TeckMicro)
    link(href='https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    link(rel='stylesheet', href='http://localhost:3000/stylesheets/timeOut.css')
    link(rel='stylesheet', href='http://localhost:3000/stylesheets/footer.css')
    link(rel='SHORTCUT ICON', href='http://localhost:3000/images/favicon.ico')
    link(rel='BOOKMARK', href='http://localhost:3000/images/favicon.ico')
    link(href='http://localhost:3000/plugin/popup/styles/core.css', type='text/css', rel='stylesheet')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300')
    link(rel='stylesheet', href='http://localhost:3000/stylesheets/countStyles.css')
    link(rel='stylesheet', href='http://localhost:3000/stylesheets/jquery.countdown.css')
    script(src='http://localhost:3000/plugin/popup/scripts/jquery.1.3.2.js', type='text/javascript', language='javascript')
    script(src='http://localhost:3000/plugin/popup/scripts/popup_layer.js', type='text/javascript', language='javascript')
    script(src='https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js')
    script(src='https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(language='javascript').
      $(document).ready(function()
      {
        var winWide = window.screen.width;
        if(winWide<768)
        {
          new PopupLayers1({trigger:"#inputs1",popupBlk:"#blk1",closeBtn:"#blk1 li",useOverlay:true});
          new PopupLayers2({trigger:"#inputs2",popupBlk:"#blk2",closeBtn:"#blk2 li",useOverlay:true});
          new PopupLayers3({trigger:"#inputs3",popupBlk:"#blk3",closeBtn:"#blk3 li",useOverlay:true});
        }
        else
        {
          new PopupLayer1({trigger:"#input1",popupBlk:"#blk1",closeBtn:"#blk1 li",useOverlay:true});
          new PopupLayer2({trigger:"#input2",popupBlk:"#blk2",closeBtn:"#blk2 li",useOverlay:true});
          new PopupLayer3({trigger:"#input3",popupBlk:"#blk3",closeBtn:"#blk3 li",useOverlay:true});
        }
      });

  body
    #myModal.modal.fade.clearfix(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true',data-backdrop='static')
      .modal-dialog#modalDialog
        .modal-content
          .modal-header
            img.pull-left(src='http://localhost:3000/images/important.gif', alt='')
            h4#myModalLabel.modal-title.pull-left
              | 警告(Warning)
          .modal-body#myModalBody
            | 在这里添加一些文本
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal')
              | 取消
            button.btn.btn-primary(type='button', data-dismiss='modal', onclick='return initCounter()')
              | 确认
    .container-fluid
      //header
      nav#navbarContainer.navbar.navbar-default.navbar-fixed-top
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            p.navbar-brand TeckMicro
          #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
              li
                a(href='http://localhost:3000/') 注销
              li
                a(href='http://localhost:3000/userPage') 返回主页
              li
                a.glyphicon.glyphicon-envelope(aria-hidden='true')(href='mailto:bowl_www@163.com') 联系我们
      //container
      .body_container.row#container
        img(src='http://localhost:3000/images/ab.jpg', alt='Header')
        center
          h2 通电时长
          form#forms.form-inline.smallScreen.col-xs-10.col-xs-offset-1
            p#notices 提示:无人状态下房间至多保持通电2小时
            .form-group.col-xs-10.col-xs-offset-1
              label 小时
              input#inputs1.form-control(type='text',value=0)
            .form-group.col-xs-10.col-xs-offset-1
              label 分钟
              input#inputs2.form-control(type='text',value=0)
            .form-group.col-xs-10.col-xs-offset-1
              label 秒
              input#inputs3.form-control(type='text',value=0)
            center.col-xs-8.col-xs-offset-2
              button#confirms.btn.btn-primary.btn-lg.btn-block(data-toggle='modal', data-target='#myModal',type='button', onclick='setText()') 确认
          form#form.form-inline.bigScreen.col-xs-8.col-xs-offset-2
            p#notice 提示:无人状态下房间至多保持通电2小时
            .form-group
              label.sr-only
              input#input1.form-control(type='text',value='00')
              h5 时
            .form-group
              label.sr-only
              input#input2.form-control(type='text',value='00')
              h5 分
            .form-group
              label.sr-only
              input#input3.form-control(type='text',value='00')
              h5 秒
            center.col-xs-4.col-xs-offset-4
              //之前onclick=return initCounter()调出倒计时页面并避免页面刷新
              button#confirm.btn.btn-primary.btn-lg.btn-block(data-toggle='modal', data-target='#myModal',type='button',onclick='setText()') 确认
          #timeCounter
            #countdown
            p#note
            center.col-xs-10.col-xs-offset-1.col-sm-2.col-sm-offset-5
              button.btn.btn-primary.btn-lg.btn-block(type='submit', onclick='return endCounter()') 取消
        #emample1.example
          #blk1.blk.col-xs-9.col-xs-offset-5.col-sm-6.col-sm-offset-0.col-md-5(style='display:none;')
            .head
              .head-right
            .main
              ul
                li
                  p 00
                li
                  p 01
                li
                  p 02
            .foot
              .foot-right
          #blk2.blk.col-xs-12.col-sm-8.col-md-7(style='display:none;')
            .head
              .head-right
            .main
              ul
                li
                  p 00
                li
                  p 01
                li
                  p 02
                li
                  p 03
                li
                  p 04
                li
                  p 05
                li
                  p 06
                li
                  p 07
                li
                  p 08
                li
                  p 09
                li
                  p 10
                li
                  p 11
                li
                  p 12
                li
                  p 13
                li
                  p 14
                li
                  p 15
                li
                  p 16
                li
                  p 17
                li
                  p 18
                li
                  p 19
                li
                  p 20
                li
                  p 21
                li
                  p 22
                li
                  p 23
                li
                  p 24
                li
                  p 25
                li
                  p 26
                li
                  p 27
                li
                  p 28
                li
                  p 29
                li
                  p 30
                li
                  p 31
                li
                  p 32
                li
                  p 33
                li
                  p 34
                li
                  p 35
                li
                  p 36
                li
                  p 37
                li
                  p 38
                li
                  p 39
                li
                  p 40
                li
                  p 41
                li
                  p 42
                li
                  p 43
                li
                  p 44
                li
                  p 45
                li
                  p 46
                li
                  p 47
                li
                  p 48
                li
                  p 49
                li
                  p 50
                li
                  p 51
                li
                  p 52
                li
                  p 53
                li
                  p 54
                li
                  p 55
                li
                  p 56
                li
                  p 57
                li
                  p 58
                li
                  p 59
            .foot
              .foot-right
          #blk3.blk.col-xs-12.col-sm-8.col-md-7(style='display:none;')
            .head
              .head-right
            .main
              ul
                li
                  p 00
                li
                  p 01
                li
                  p 02
                li
                  p 03
                li
                  p 04
                li
                  p 05
                li
                  p 06
                li
                  p 07
                li
                  p 08
                li
                  p 09
                li
                  p 10
                li
                  p 11
                li
                  p 12
                li
                  p 13
                li
                  p 14
                li
                  p 15
                li
                  p 16
                li
                  p 17
                li
                  p 18
                li
                  p 19
                li
                  p 20
                li
                  p 21
                li
                  p 22
                li
                  p 23
                li
                  p 24
                li
                  p 25
                li
                  p 26
                li
                  p 27
                li
                  p 28
                li
                  p 29
                li
                  p 30
                li
                  p 31
                li
                  p 32
                li
                  p 33
                li
                  p 34
                li
                  p 35
                li
                  p 36
                li
                  p 37
                li
                  p 38
                li
                  p 39
                li
                  p 40
                li
                  p 41
                li
                  p 42
                li
                  p 43
                li
                  p 44
                li
                  p 45
                li
                  p 46
                li
                  p 47
                li
                  p 48
                li
                  p 49
                li
                  p 50
                li
                  p 51
                li
                  p 52
                li
                  p 53
                li
                  p 54
                li
                  p 55
                li
                  p 56
                li
                  p 57
                li
                  p 58
                li
                  p 59
            .foot
              .foot-right
      //footer
      .footer#footer
        address
          strong TeckMicro
          br
          |           1355 Market Street, Suite 900
          br
          |           San Francisco, CA 94103
          br
          |           Telephone:(123) 456-7890
      #none
      script(type='text/javascript', src='http://localhost:3000/javascripts/footer.js').
      script(src='http://localhost:3000/javascripts/jquery.countdown.js').
      script(src='http://localhost:3000/javascripts/countScript.js').
