doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    title 客房人体感应系统(TeckMicro)
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    meta(name='viewport',content='width=device-with,initial-scale=1')
    script(type='application/x-javascript').
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
      function hideURLbar(){ window.scrollTo(0,1); }
    //url登录拦截器
    script(type='text/javascript', src='/javascripts/filter.js')
    link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
    link(href='stylesheets/font-awesome.css', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css')
    link(href='https://fonts.googleapis.com/css?family=Cardo:400,400italic|Radley|Tangerine', rel='stylesheet')
    link(href='https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css',rel='stylesheet')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    link(rel='stylesheet',href='/stylesheets/userPage.css')
    link(rel='stylesheet',href='/stylesheets/footer.css')
    link(rel='SHORTCUT ICON', href='/images/favicon.ico')
    link(rel='BOOKMARK', href='/images/favicon.ico')
    script(src='https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js')
    script(src='https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js')

  body
    #myModal.modal.fade.clearfix(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true',data-backdrop='static')
      .modal-dialog#modalDialog
        .modal-content
          .modal-header
            img.pull-left(src='/images/important.gif', alt='')
            h4#myModalLabel.modal-title.pull-left
              | 警告(Warning)
          .modal-body#myModalBody
            | 房间将于您离开后立即断电！
          .modal-footer
            button#cancel.btn.btn-default(type='button', data-dismiss='modal')
              | 取消
            button.btn.btn-primary(type='button', data-dismiss='modal')
              | 确认
    .container-fluid
      //header
      // main-header
      .w3layouts-top-strip#home
        .top-srip-agileinfo#info
        nav.pull-left.navbar.navbar-inverse.navbar-default.navbar-fixed-top#navbarContainer
          .container#container
            .navbar-header
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              .w3ls-social-icons.text-left
                h2
                    span T
                    | eck
                    span M
                    | icro
                    p.s-log System
            #navbar.navbar-collapse.collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a.glyphicon.glyphicon-log-out(aria-hidden='true')(href='/',onclick = 'logout()') 注销
                li
                  a.glyphicon.glyphicon-envelope(aria-hidden='true')(href='mailto:bowl_www@163.com') 联系我们
                li
                  a#roomStatus(onclick='showStatus()') 查看房间状态
      //container
      .body_container.row#body_container
        img#img.img-responsive(src='/images/ab.jpg', alt='Header')
        #main-window.ui.segment.pull-right.col-xs-10.col-sm-6
          center
            span 当前房间内有
              h1#number 3
            span 人
          #porlContainer
            #plusAndSub
              span#add.label(onclick='addPerson()') +
              span#sub.label(onclick='subPerson()') –
            button#back.btn.btn-primary(type='submit',onclick='backSelect()') 返回
            button.btn.btn-danger(type='submit',onclick='sendCorrect()',data-toggle='modal', data-target='#myModal') 报告错误
          .ui.two.column.grid
            a.ui.red.ribbon.label Overview
            span Account Details
            p
            a.ui.blue.ribbon.label Community
            |  User Reviews
            p
        #select
          .pattern.activeMode.col-xs-10.col-sm-3.col-md-3.col-lg-3
            a(href='/userPage/timeOut') 用户设定
          .pattern.passiveMode.col-xs-10.col-sm-3.col-md-3.col-lg-3(data-toggle='modal', data-target='#myModal',onclick='setModalText()')
            p 托管设定
      // Footer
      .w3l-footer#footer
        .container
          .footer-info-agile

            .col-md-3.footer-info-grid.address
              h4 Address
              address
                ul
                  li Jiangsu Nanjing
                  li Hohai University
                  li Telephone : +0746 2867300
                  li
                    | Email :
                    a.mail(href='mailto:bowl_www@163.com') bowl_www@163.com
            .col-md-4.footer-info-grid
              .connect-social
                h4 Connect with us
                section.social
                  ul
                    li
                      a.icon.fb(href='#')
                        i.fa.fa-facebook
                    li
                      a.icon.tw(href='#')
                        i.fa.fa-twitter
                    li
                      a.icon.pin(href='#')
                        i.fa.fa-pinterest
                    li
                      a.icon.db(href='#')
                        i.fa.fa-dribbble
                    li
                      a.icon.gp(href='#')
                        i.fa.fa-google-plus
            .clearfix
          .connect-agileits.newsletter
            h4 Newsletter
            p
              | Subscribe to our newsletter and we will inform you about newest projects and promotions.
            form.newsletter(action='#', method='post')
              input.email(type='email', placeholder='Your email address...', required='')
              input.submit(type='submit', value='Subscribe')
      a#toTop.scroll(href='#home', style='display: block;')
        span#toTopHover(style='opacity: 1;')
      #none
      script(type='text/javascript', src='/javascripts/footer.js')
      script(type='text/javascript', src='/javascripts/userPage.js')
      script(src='/javascripts/main.js')
      script(type='text/javascript', src='/javascripts/move-top.js')
      script(type='text/javascript', src='/javascripts/easing.js')
      script(type='text/javascript').
        jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
        event.preventDefault();
        $('html,body').animate({scrollTop:$(this.hash).offset().top},900);
        });
        });
      script(type='text/javascript').
        $(document).ready(function() {
        $().UItoTop({ easingType: 'easeOutQuart' });
        });
      // end-smooth-scrolling
