/* GLOBAL STYLES
-------------------------------------------------- */
/*BODY AND CONTAINER *
-------------------------------------------------- */
body
{
  padding-top:60px;
  margin: 0;
  color: white;
}
.container-fluid
{
  padding: 0;
  margin: 0;
  width: 100%;
}
/* CUSTOMIZE THE HEADER
-------------------------------------------------- */
#changeRoom
{
  display: none;
}
/* CUSTOMIZE THE CONTAIANER
-------------------------------------------------- */
.body_container
{
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #252525;
  border-bottom: 1px solid gray;
}

#headerImg
{
  width: 100%;
  box-shadow: 10px 10px 5px #202020;
}

#changeFloor,#changePersonNumber
{
  display: none!important;
  margin: 1em 4.16667% 0 0;
}

.body_container #notices
{
  position: relative;
  top:10px;
  margin: auto;
  display: none;
}

#notices img
{
  height: 2em;
  width: 2em;
  position: relative;
  top:20px;
  left: 10px;
  display: inline-block;
}

#notices h2
{
  font-size: 2em;
}

#notice img
{
  padding: 0;
  margin-right: 2px;
  height: 1em;
  width: 1em;
  display: inline-block;
  position: relative;
  top:0.1em;
}

#main-window {
  padding: 0;
  margin: 5% 0 5% 7%;
  height: 450px;
  background-color: inherit;
  border: 1px inset lightgray;
  //border-color: lightgray #202020 #202020 lightgray;
  box-shadow: 15px 10px 5px #202020;
  //border-radius: 8px;
}
#main-window .red,#main-window .blue
{
  position: relative;
  top:-80px;
}

.showChart
{
  height: 50%;
  width: 50%;
  border: 1px inset lightgray;
}

#main-window canvas:hover
{
  cursor:pointer;
}
/* 载入中动画
-------------------------------------------------- */
@keyframes rotate-loading
{
  0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
  100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-moz-keyframes rotate-loading
{
  0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
  100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-webkit-keyframes rotate-loading
{
  0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
  100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-o-keyframes rotate-loading
{
  0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
  100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@keyframes rotate-loading
{
  0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
  100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-moz-keyframes rotate-loading
{
  0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
  100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-webkit-keyframes rotate-loading
{
  0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
  100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-o-keyframes rotate-loading
{
  0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
  100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@keyframes loading-text-opacity
{
  0%  {opacity: 0}
  20% {opacity: 0}
  50% {opacity: 1}
  100%{opacity: 0}
}

@-moz-keyframes loading-text-opacity
{
  0%  {opacity: 0}
  20% {opacity: 0}
  50% {opacity: 1}
  100%{opacity: 0}
}

@-webkit-keyframes loading-text-opacity
{
  0%  {opacity: 0}
  20% {opacity: 0}
  50% {opacity: 1}
  100%{opacity: 0}
}

@-o-keyframes loading-text-opacity
{
  0%  {opacity: 0}
  20% {opacity: 0}
  50% {opacity: 1}
  100%{opacity: 0}
}
.loading-container,
.loading
{
  height: 100px;
  position: relative;
  width: 100px;
  border-radius: 100%;
}
.loading-container { margin: 60px auto }
.loading
{
  border: 2px solid transparent;
  border-color: transparent #fff transparent #FFF;
  -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
  -moz-transform-origin: 50% 50%;
  -o-animation: rotate-loading 1.5s linear 0s infinite normal;
  -o-transform-origin: 50% 50%;
  -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
  -webkit-transform-origin: 50% 50%;
  animation: rotate-loading 1.5s linear 0s infinite normal;
  transform-origin: 50% 50%;
}
.loading-container:hover .loading
{
  border-color: transparent #E45635 transparent #E45635;
}
.loading-container:hover .loading,
.loading-container .loading
{
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#loading-text
{
   -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
   -o-animation: loading-text-opacity 2s linear 0s infinite normal;
   -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
   animation: loading-text-opacity 2s linear 0s infinite normal;
   color: #ffffff;
   font-family: "Helvetica Neue, "Helvetica", ""arial";
   font-size: 10px;
   font-weight: bold;
   margin-top: 45px;
   opacity: 0;
   position: absolute;
   top: -50px;
   text-align: center;
   top: 0;
   width: 100px;
}
/* 切换楼层表格
-------------------------------------------------- */

#specialNotice h1
{
  text-align:center;
  display: inline-block;
  font-family: 'Tangerine', serif;
  text-shadow: 5px 5px 5px #111111;
  margin: 0 auto;
  font-size: 4em;
  color: #57A0F1;
}

#specialNotice span
{
  color: #ffffff;
  font-size: 3em;
}

.form
{
  margin-top: 5%;
}
#realForm
{
  margin: 20% auto;
  width: 50%;
}
#realForm h3,#realForm #input,#realForm #submitButton
{
  margin: 2em auto;
}
#porlContainer
{
  display: inline-block;
  width: 100%;
  text-align: center;
}

#plusAndSub
{
  display: inline-block;
  //margin-left: 15%;
  margin-bottom: 20px;
  width: 100%;
}
#plusAndSub .label:hover
{
  cursor:pointer;
}

#plusAndSub .btn
{
  margin:20px 5px 5px 5px;
  height: 30px;
  padding: 0 10px;
  position: relative;
  //top: -10px;
  font-weight: bold;
}

#feedback
{
  font-size: 1em;
  display: none;
}

.form #notice
{
  display: inline-block;
  text-align: center;
  margin-bottom: 15%;
}

.form #submitButton
{
  width: 80%;
  margin: auto;
}

.form p
{
  font-size: 2em;
  display: inline-block;
  padding: 0;
  margin: 0;
  position: relative;
}

@media screen and (max-width: 767px) {
  .body_container #notices
  {
    display: inline-block;
  }
  #changeRoom,#changeFloor,#changePersonNumber
  {
    display: block!important;
  }
  .body_container>img
  {
    height: 40px;
  }
  #realForm
  {
    width: 80%;
    margin-top: 0;
  }
  #form
  {
    margin-top: 0;
    display: none;
  }
  #main-window
  {
    margin: 5% 4.16667%;
  }
}
