/* GLOBAL STYLES
-------------------------------------------------- */
/*BODY AND CONTAINER *
-------------------------------------------------- */
body
{
  padding-top:75px;
  margin: 0;
  color: gray;
  position: relative;
}
.container-fluid
{
  padding: 0;
  margin: 0;
  width: 100%;
}
/* CUSTOMIZE THE HEADER
-------------------------------------------------- */
#roomStatus
{
  display: none;
}
/* CUSTOMIZE THE CONTAIANER
-------------------------------------------------- */
.body_container
{
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #252525;
}
.body_container img
{
  width: 100%;
  box-shadow: -10px 10px 20px #202020;
  z-index: 12;
}
/* 警告框
-------------------------------------------------- */
#myModalLabel
{
  margin-top: 5px;
}

#modalDialog
{
  border: 3px solid #3B6EB8;
  border-radius: 9px;
  padding: 0;
}

/* 人数核验
-------------------------------------------------- */
#main-window h1
{
  text-align:center;
  display: inline-block;
  font-family: 'Tangerine', serif;
  text-shadow: 5px 5px 5px #111111;
  margin: 0 auto;
  font-size: 4em;
  color: #57A0F1;
}

center .container
{
  text-align: center;
  margin: auto;
}

#main-window {
  background-color: inherit;
  border: 1px inset lightgray;
  margin: 5% 7%;
  //border-color: lightgray #202020 #202020 lightgray;
  box-shadow: 15px 10px 5px #202020;
  border-radius: 8px;
}

#main-window span
{
  color: #ffffff;
  font-size: 3em;
}
#main-window #back
{
  display: none;
}

#main-window .blue
{
    width:110px;
    height:30px;
    margin-bottom: 20px;
}

#main-window .red
 {
   width:10%;
   height:30px;
 };

#porlContainer
{
  display: inline-block;
  width: 40%;
}

#plusAndSub
{
  display: inline-block;
  margin-left: 35%;
  margin-bottom: 20px;
}
#plusAndSub .label:hover
{
  cursor:pointer;
}

#main-window .btn
{
  margin: 5px;
  height: 30px;
  padding: 0 10px;
  position: relative;
  top: -10px;
  font-weight: bold;
}
/* 模式选择
-------------------------------------------------- */
#select
{
  margin-top:2%;
}
.pattern
{
  cursor: pointer;
  margin-left: 5%;
  margin-top: 5%;
  border-left:5px solid #57A0F1;
  box-shadow: 10px 5px 5px #202020;
  //border-radius: 5px;
  background-color: rgba(255 , 255, 255, 0.4);
  background: -webkit-linear-gradient(right, rgba(255,255,255, 0) 0%, rgba(255,255,255, 0.1) 100%);
  background: -moz-linear-gradient(right, rgba(255,255,255, 0) 0%, rgba(255,255,255, 0.1) 100%);
  background: -o-linear-gradient(right, rgba(255,255,255, 0) 0%, rgba(255,255,255, 0.1) 100%);
  background: linear-gradient(right, rgba(255,255,255, 0) 0%, rgba(255,255,255, 0.1) 100%);
  /*ie10及其以上版本*/
  background:-ms-linear-gradient(right,rgba(255,255,255, 0) 5%, rgba(255,255,255, 0.1) 100%);
  /*ie9及其以下版本*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#036e1a', endColorstr='#01036e1a',GradientType=1);
}

.pattern:hover,.pattern:active
{
  box-shadow: 0px 5px 5px #57A0F1;
  transform: translateY(-0.25em);
  background-color: rgba(255 , 255, 255, 0.4);
  background: -webkit-linear-gradient(right, rgba(255,255,255, 0) 0%, rgba(255,255,255, 0.2) 100%);
  background: -moz-linear-gradient(right, rgba(255,255,255, 0) 0%, rgba(255,255,255, 0.2) 100%);
  background: -o-linear-gradient(right, rgba(255,255,255, 0) 0%, rgba(255,255,255, 0.2) 100%);
  background: linear-gradient(right, rgba(255,255,255, 0) 0%, rgba(255,255,255, 0.2) 100%);
  /*ie10及其以上版本*/
  background:-ms-linear-gradient(right,rgba(255,255,255, 0) 5%, rgba(255,255,255, 0.2) 100%);
  /*ie9及其以下版本*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#036e1a', endColorstr='#01036e1a',GradientType=1);
}

.pattern a,.pattern p
{
  display: block;
  color: white;
  font-size: 2em;
  padding: 20px 0px;
  position: relative;
  z-index: 10;
  text-decoration: none;
  text-align: center;
}

@media screen and (max-width: 767px)
{
  #main-window{display: none;}
  #roomStatus,#main-window #back
  {
    display: block;
  }
  #porlContainer button
  {
    margin-top: 10px;
    float: right;
  }
  .pattern{
    margin-top: 20%;
  }
  .body_container img
  {
    height: 40px;
  }
  .passiveMode{margin-bottom: 30%;}
}
